body{
	margin : 0;
}
#game{
	position: absolute;
	left:0;
	top:0;
	width:1280px;
	height:800px;
	background-color: rgb(30, 30, 30);
	font-family : Skranji;
	color:rgb(200, 200, 100);
}

#game .screen{
	position : absolute;
	width:100%;
	height:100%;
	display:none;
	z-index:10;
	
}

#game. screen.active{
	display: block;
}

#splash-screen{
	text-align:center;
	padding-top:10px;
}

#splash-screen .continue{
	cursor:pointer;
	font-size: 30px;
}

.logo{
	font-family: Skranji;
	font-size:60px;
	line-height:60px;
	margin:0;
	text-align: center;
	color : rgb(70, 120, 20);
	text-shadow: 1px 1px 2px rgb(255, 255, 0),
				-1px -1px 2px rgb(255, 255, 0),
				5px 8px 8px rgb(0,0,0);
}
/*주메뉴 스타일*/
main-menu{
	padding-top:1em;
}

ul.menu{
	text-align:center;
	padding:0;
	margin:0;
	list-style:none;
}

ul.menu li{
	margin: 0.8em 0;
}

ul.menu li button{
	font-family: Skranji;
	font-size: 0.6em;
	color:rgb(100, 120, 0);
	width: 10em;
	height: 1.5em;
	background: rgb(10, 20, 0);
	border: 0.1em solid rgb(255, 255, 0);
	border-radius: 0.5em;
	-webkit-box-shadow: 0.2em 0.2em 0.3em rgb(0,0,0);
	-moz-box-shadow:0.2em 0.2em 0.3em rgb(0,0,0);
	box-shadow:0.2em 0.2em 0.3em rgb(0,0,0);
}

ul.menu li button:hover{
	background: rgb(30, 40, 0);
	
}

ul.menu li button:active{
	color: rgb(255, 255, 0);
	background: rgb(30, 40, 0);
}
@font-face{
	font-family: "Skranji";
	font-weight: normal;
	font-style: normal;
	src : url("../fonts/Skranji-Regular.ttf") format("truetype");
			
}

